/*----------------- 验证不通过时,错误提示的样式 ---------------*/
span.talentErrMsg
{
	font-family: Tahoma, 宋体;
	font-size:9pt;
	color: #B92D1E;
	text-decoration: none;
	padding:2px;
	padding-bottom:2px;
	margin:2px;
	margin-bottom:0px;
    background-color: #FFFFF7;
	padding-left:20px;
	background:url(./img/error.png) no-repeat left 2px;
	background-color: #F8EDED;
}
/*----------------- 验证不通过时,输入框的样式 ---------------*/
.talentErrInput
{
	border:1px solid #E74E49;

}
.talentErrInput option
{
	border-bottom:1px solid #E74E49;

}
/*----------------- 必输项的星号样式 ---------------*/
span.talentReqStar
{
	color: #FF0000;
	padding:2px;
	font-family: Tahoma, 宋体;
	font-size:9pt;
}
/*----------------- 比较验证器，被比较值的样式 ---------------*/
span.validate_comparevalue
{
	color: #000000;
	font-family: Tahoma, 宋体;
	background-color:#D7F2C6;
	font-size:9pt;
	padding:1px;
	/*text-decoration:underline;--*/
	border:1px dashed #9BDF70;
}

.talentTipMsg{
	font-family: Tahoma, 宋体;
	font-size:9pt;
	font-weight:normal;
	color: #508231;
	text-decoration: none;
	padding:2px;
	padding-bottom:2px;
	margin:2px;
	margin-bottom:0px;
    
	padding-left:20px;
	background:url(./img/success.png) no-repeat left 2px;
	background-color: #D7F2C6;
}
