/*整体背景、字体样式、边距和滚动条颜色*/

body,td,th {
	font-size: 9pt;
	color: #333333;
	background-position: left;
	line-height: 160%;
}
body {
	background-color: #f0f2f7;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	SCROLLBAR-FACE-COLOR: #e2e7ef;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #112535;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #112535;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #bfbfbf;
	SCROLLBAR-BASE-COLOR: #112535;
}

/*加粗蓝色字*/
.size1 {
	color: #018C8D;
	font-weight: bold;
}

/*输入域，长度：200像素*/
.input1{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 200px;
	font-size: 9pt;
	color: #333333;
}


/*按钮，长72像素，高20像素*/
.btn1{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_01.gif);
	height: 20px;
	width: 72px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}


/*普通链接*/
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #cc6633;
}
a:active {
	text-decoration: none;
}
