/*整体背景、字体样式、边距和滚动条颜色*/

body,td,th {
	font-size: 9pt;
	color: #333333;
	background-position: left;
}
body {
	background-color: #eef2fb;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	SCROLLBAR-FACE-COLOR: #e2e7ef;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #112535;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #112535;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #bfbfbf;
	SCROLLBAR-BASE-COLOR: #112535;
}

/*导航2级字体*/
.size1 {
	font-size: 9pt;
	color: #a70300;
	background-image: url(../images/bg_list.gif);
	text-align: left;
	text-indent: 27px;
}

/*导航3级字体*/
.size2 {
	font-size: 9pt;
	color: #ffffff;
	background-image: url(../images/bg_list2.gif);
	text-align: left;
	text-indent: 37px;
}

/*导航1级菜单*/
.menunav{
	height:28px;
	color:#a70300;
	font-weight:bold;
	background-image: url(../images/bg_menuMouseOut.gif);
	text-indent: 10px;
}

.menunavover{
	height:28px;
	color:#a70300;
	font-weight:bold;
	background-image: url(../images/bg_menuMouseOver.gif);
	text-indent: 10px;
}

/*导航1级链接*/
a.kind1:link {
	text-decoration: none;
	color: #666;
}
a.kind1:visited {
	text-decoration: none;
	color: #a70300;
}
a.kind1:hover {
	text-decoration: none;
	color: #a70300;
}
a.kind1:active {
	text-decoration: none;
}

/*导航2级链接*/
a.kind2:link {
	text-decoration: none;
	color: #333;
}
a.kind2:visited {
	text-decoration: none;
	color: #333;
}
a.kind2:hover {
	text-decoration: none;
	color: #cc6633;
}
a.kind2:active {
	text-decoration: none;
}

/*导航3级链接*/
a.kind3:link {
	text-decoration: none;
	color: #A70300;
}
a.kind3:visited {
	text-decoration: none;
	color: #A70300;
}
a.kind3:hover {
	text-decoration: none;
	color: #AA0400;
}
a.kind3:active {
	text-decoration: none;
}
