/*整体背景、字体样式、边距和滚动条颜色*/

body,td,th {
	font-size: 9pt;
	color: #333333;
	background-position: left;
	line-height: 160%;
}
body {
	background-color: #eef2fb;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	SCROLLBAR-FACE-COLOR: #e2e7ef;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #112535;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #112535;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #bfbfbf;
	SCROLLBAR-BASE-COLOR: #112535;
}


/*表单白色背景*/
.table1{
	background-color: #f9f9fa;
}

/*表格*/
.table2{
	background-color: #9eaeb9;
}

/*蓝色边框表格*/
.table3{
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width:1px;
	border-top-style: solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-color: #9eaeb9;
	border-right-color: #9eaeb9;
	border-left-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}

/*蓝色边框表格*/
.table4{
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width:1px;
	border-top-style: solid;
	border-right-style: none; 
	border-left-style: solid;
	border-bottom-style: none;
	border-top-color: #9eaeb9;
	border-right-color: #9eaeb9;
	border-left-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}


/*蓝色大标题*/
.size1{
	font-size: 9pt;
	color: #96a0ad;
	font-weight: bold;
	padding-top: 7px;
}
/*当前位置样式*/
.size2{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dde4e9;
	padding-top: 8px;
}

/*蓝色小标题（粗）*/
.size3{
	background-color: #e2e7ef;
	height: 24px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b7c4d4;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 2px;
}

/*蓝色背景*/
.size3-1{
	background-color: #e2e7ef;
}

/*蓝色小标题*/
.size3-2{
	background-color: #e2e7ef;
	height: 24px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b7c4d4;
	padding-left: 10px;
	padding-top: 2px;
}

/*灰色条*/
.size4{
	background-color: #f2f2f2;
	height: 25px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f9f9fa;
	padding-left: 10px;
}

/*灰色条2*/
.size4-1{
	background-color: #f2f2f2;
	height: 25px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f9f9fa;
	padding-left: 10px;
}

/*白色条*/
.size5{
	background-color: #f9f9fa;
	height: 25px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f9f9fa;
	padding-left: 10px;
}

/*白色条2*/
.size5-1{
	background-color: #f9f9fa;
	height: 25px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #f9f9fa;
	padding-left: 10px;
}

/*表格空格样式（粗）*/
.size6{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
	font-weight: bold;
}

/*表格不空格样式（粗）*/
.size7{
	background-color: #f2f2f2;
	height: 25px;
	font-weight: bold;
}

/*表格空格样式*/
.size8{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
}

/*表格不空格样式*/
.size9{
	background-color: #f2f2f2;
	height: 25px;
}

/*成功提交*/
.size10{
	font-size: 11pt;
	color: #96a0ad;
	font-weight: bold;
}

/*修改:灰色*/
.size11{
	font-size: 9pt;
	color: #96a0ad;
}

/*星号红色*/
.size12{
	font-size: 9pt;
	color: #cc6633;
}

/*批改黄色*/
.size13{
	background-color: #FFFF66;
}

/*下右实线边框（粗）*/
.td1{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
	font-weight: bold;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}

/*下实线边框（粗）*/
.td2{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9eaeb9;
}

/*下右实线边框*/
.td3{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}

/*下实线边框*/
.td4{
	background-color: #f2f2f2;
	height: 25px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9eaeb9;
}

/*下右实线边框*/
.td5{
	background-color: #f9f9fa;
	height: 25px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}

/*下实线边框*/
.td6{
	background-color: #f9f9fa;
	height: 25px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9eaeb9;
}

/*下右实线边框，背景蓝色*/
.td7{
	background-color: #99CCFF;
	height: 25px;
	padding-left: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #9eaeb9;
	border-bottom-color: #9eaeb9;
}

/*下实线边框，背景蓝色*/
.td8{
	background-color: #99CCFF;
	height: 25px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9eaeb9;
}

/*下虚线边框，新闻标题用*/
.td9{
	height: 30px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #9eaeb9;
}

/*下实线边框(蓝色)*/
.td6-1{
	background-color: #f9f9fa;
	height: 25px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9eaeb9;
	color: #336699;
}

/*输入域，长度：25像素*/
.input1{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 25px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：200像素*/
.input2{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 200px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：200像素，蓝色双击*/
.input2-b{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 200px;
	font-size: 9pt;
	color: #FFFFFF;
	text-align: center;
	background-color: #6699CC;
}

/*输入域，长度：200像素,黄色标识*/
.input2-y{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 200px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
	background-color: #FFFF66;
}

/*输入域，长度：60像素*/
.input3{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 60px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：60像素,黄色标识*/
.input3-y{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 60px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
	background-color: #FFFF66;
}

/*输入域，长度：100像素*/
.input4{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 100px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：100像素,黄色标识*/
.input4-y{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 100px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
	background-color: #FFFF66;
}

/*输入域，长度：500像素*/
.input5{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 500px;
	font-size: 9pt;
	color: #333333;
	text-align: left;
}

/*双击输入域，长度：150像素*/
.input6{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 150px;
	font-size: 9pt;
	color: #ffffff;
	text-align: center;
	background-color: #6699CC;
}

/*双击输入域，长度：60像素*/
.input7{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 60px;
	font-size: 9pt;
	color: #ffffff;
	text-align: center;
	background-color: #6699CC;
}

/*输入域，长度：230像素*/
.input8{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 230px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：40像素*/
.input9{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 40px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：150像素*/
.input10{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 150px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
}

/*输入域，长度：150像素,黄色标识*/
.input10-y{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 150px;
	font-size: 9pt;
	color: #333333;
	text-align: center;
	background-color: #FFFF66;
}

/*双击输入域，长度：99%*/
.input11{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 99%;
	font-size: 9pt;
	color: #ffffff;
	text-align: center;
	background-color: #6699CC;
}

/*双击输入域，长度：50像素*/
.input12{
	height: 19px;
	border: 1px solid #7f9db9;
	width: 50px;
	font-size: 9pt;
	color: #ffffff;
	text-align: center;
	background-color: #6699CC;
}

/*输入域，黄色标识*/
.input-y{
    color: #333333;
	background-color: #FFFF66;
}

/*文本区域，长度：150像素*/
.textarea1{
	border: 1px solid #7f9db9;
	width: 120px;
	font-size: 9pt;
	color: #333333;
	text-align: left;
}

/*文本区域，长度：95%*/
.textarea2{
	border: 1px solid #7f9db9;
	width: 95%;
	font-size: 9pt;
	color: #333333;
	text-align: left;
	height: 300px;
}

/*文本区域，长度：95%，无高度*/
.textarea3{
	border: 1px solid #7f9db9;
	width: 95%;
	font-size: 9pt;
	color: #333333;
	text-align: left;
}

/*文本区域，长度：97%，无高度*/
.textarea4{
	border: 1px solid #7f9db9;
	width: 97%;
	font-size: 9pt;
	color: #333333;
	text-align: left;
}

/*下拉框，黄色标识*/
.select1-y{
	font-size: 9pt;
	color: #333333;
	background-color: #FFFF66;
}

/*按钮，长72像素，高20像素*/
.btn1{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_01.gif);
	height: 20px;
	width: 72px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*按钮，长92像素，高20像素*/
.btn2{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_02.gif);
	height: 20px;
	width: 92px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*按钮，长102像素，高20像素*/
.btn3{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_03.gif);
	height: 20px;
	width: 102px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding-left: 10px;
}

/*按钮，长42像素，高20像素*/
.btn4{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_04.gif);
	height: 20px;
	width: 42px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*按钮，长27像素，高20像素*/
.btn5{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_05.gif);
	height: 20px;
	width: 27px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*按钮，长122像素，高20像素*/
.btn6{
	font-size: 9pt;
	color: #333333;
	background-image: url(../images/btn_06.gif);
	height: 20px;
	width: 122px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

/*普通链接*/
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #cc6633;
}
a:active {
	text-decoration: none;
}
	
	  * { font-size:12px;  }  
    html, body {  margin:0;text-align:center;over-flow:hidden;height:100%;width:100%;}  
    UL { list-style-type:none; margin:0px; }  
   
  /* 标准盒模型 */  
    .ttl {height:18px; }  
    .ctt { height:auto; padding:0px;clear:both;border:0px solid #778A98; border-top:0;text-align:left;}  
    .w936 { margin:0px ;clear:both;width:650px;/*滑动门的宽度*/ }  
    /* TAB 切换效果 */  
    .tb_ {background-image: url('../images/bg_x.gif');background-repeat: repeat-x;border-left:1px solid #778A98;border-right:1px solid #778A98; }  
    .tb_ ul {height:22px;}  
    .tb_ li { float:left;margin-left:0px; height: 22px;width: 100px;cursor:pointer; }  
    /* 控制显示与隐藏css类 */  
    .normaltab { background-image:url('../images/bg_over2.gif');background-repeat: no-repeat;color:#1F3A87; }  
    .hovertab { background-image: url('../images/bg_over1.gif');background-repeat: no-repeat; color:#1F3A87; font-weight:bold ;margin-left: 10px}  
    .dis { display:block;}  
    .undis {  display:none;  } 

/* 弹出层 */    
.shadow{
	position:absolute;
	width:100%;height:100%;
	left:0;
	top:0; 
	margin:auto; 
	text-align:center; 
	_left:278px;
	opacity: .30;
	filter:Alpha(Opacity=30);
	background: #000;
	display:none;
	z-index:999999999;
}