<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">
	
	<bean id="userPowerService" class="ins.platform.service.spring.UserPowerServiceSpringImpl" />
	<bean id="serialNoUtil" class="ins.platform.common.SerialNoUtil"/>
	<bean id="prpDcompanyService" class="ins.platform.service.spring.PrpDcompanyServiceSpringImpl" />
	<bean id="pdLdCodeService" class="ins.platform.service.spring.PdLdCodeServiceSpringImpl" />
	<bean id="excelToMap" class="ins.common.util.ExcelToMap" />
</beans>