<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">
	
	<bean id="reportService" class="ins.prpall.report.service.spring.ReportServiceSpringImpl"/>
	<bean id="noImageInputService" class="ins.prpall.proposal.service.spring.NoImageInputServiceSpringImpl"/>
	<bean id="lcGrpPolReportService" class="ins.prpall.report.service.spring.LCGrpPolReportServiceSpringImpl" />
	<bean id="pdLmDutyService" class="ins.prpall.report.service.spring.PDLMDutyServiceSpringImpl" />
	<bean id="lcContPlanReportService" class="ins.prpall.report.service.spring.LCContPlanReportServiceSpringImpl" />
	<bean id="lcContPlanRiskReportService" class="ins.prpall.report.service.spring.LCContPlanRiskReportServiceSpringImpl"/>
	<bean id="lcInsuredReportService" class="ins.prpall.proposal.service.spring.LCInsuredReportServiceSpringImpl" />
	<bean id="artificalUWService" class="ins.prpall.proposal.service.spring.ArtificalUWServiceSpringImpl"/>
	<bean id="proposalPreService" class="ins.prpall.proposal.service.spring.ProposalPreServiceSpringImpl"/>
	<bean id="signService" class="ins.prpall.proposal.service.spring.SignServiceSpringImpl"/>
	<bean id="proposalApproveService" class="ins.prpall.proposal.service.spring.ProposalApproveServiceSpringImpl"/>
	<bean id="uwModifyService" class="ins.prpall.proposal.service.spring.UWModifyServiceSpringImpl"/>
</beans>