# Maven
target/
*.ser
*.ec

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse
.classpath
.project
.settings/
.metadata/

# Svn
.svn/


#secret stuff
*.log
logs/*.log

test-output/
/platform/core/demo/logs