<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd" >
	
	
	<jaxws:client id="rmsServiceClient" serviceClass="com.sinosoft.ebusiness.rms.client.cxf.RMSWebService"
		address="http://localhost:9001/mis/services/RMSWebService" />

	<!-- 
	<bean id="cxfLoginService" class="com.sinosoft.ebusiness.rms.web.webservice.spring.CXFLoginServiceSpringImpl"></bean>   
	<jaxws:endpoint 
	  id="cxfService" 
	  implementor="#cxfLoginService" 
	  address="/abc" >
	  <jaxws:features>   
			<bean class="org.apache.cxf.feature.LoggingFeature"/>
		</jaxws:features>
	</jaxws:endpoint>
	 -->
	<!-- 
	<bean id="helloWorldImpl" class="bps.com.cn.HelloWorldImpl"/>
	<jaxws:endpoint id="helloWorld" implementor="#helloWorldImpl"
	  address="/HelloWorldCXF"/>
	 -->
</beans>
