<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:onejpa="http://com.sinosoft.one/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd



		http://com.sinosoft.one/schema/data/jpa http://com.sinosoft.one/schema/data/jpa/one-data-jpa.xsd"
       default-lazy-init="true">



    <description>Spring公共配置 </description>
    <context:component-scan base-package="com.sinosoft.one.data.test" />
    <onejpa:repositories base-package="com.sinosoft.one">
    </onejpa:repositories>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManaegerFactory"/>
    </bean>

    <bean id="entityManaegerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
        <property name="persistenceUnitName" value="oracleNormalPU"/>
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSourceSpied" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="url" value="jdbc:oracle:thin:@192.168.18.154:1521:orcl"/>
        <property name="username" value="testaccount" />
        <property name="password" value="testpassword" />
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
    </bean>
    <bean class="com.sinosoft.one.data.jade.context.spring.JadeBeanFactoryPostProcessor" />
    <bean id="dataSource" class="com.sinosoft.one.log4jdbc.Log4jdbcProxyDataSource">
        <constructor-arg ref="dataSourceSpied"/>
    </bean>
</beans>