<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
     http://www.springframework.org/schema/tx 
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
     http://www.springframework.org/schema/jee 
     http://www.springframework.org/schema/jee/spring-jee-3.0.xsd 
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
    default-autowire="byName" default-lazy-init="true">
    
    <!-- 登陆action start -->
    <bean id= "loginAction" class = "com.sinosoft.ebusiness.rms.web.LoginAction" scope="prototype"></bean>
    <!--  用户组action     -->
    <bean id= "groupAction" class ="com.sinosoft.ebusiness.rms.web.GroupAction" scope="prototype"></bean>
	 <!--  角色action  --> 
    <bean id= "roleAction" class = "com.sinosoft.ebusiness.rms.web.RoleAction" scope="prototype"></bean>
  	 <!-- 功能授权 start -->
    <bean id="taskAuthAction" class="com.sinosoft.ebusiness.rms.web.TaskAuthAction" scope="prototype" ></bean> 
 	<!-- 功能授权  end -->
 	<!-- 人员授权管理 start -->
    <bean id="employeesConfigAction" class="com.sinosoft.ebusiness.rms.web.EmployeesConfigAction" scope="prototype"/>
    
    <bean id="taskAction" class="com.sinosoft.ebusiness.rms.web.TaskAction" scope="prototype"/>
 </beans>