<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop  
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">


	<context:component-scan base-package="cn.com.chinalife.ebusiness" />

	<bean id="queuesHolder" class="cn.com.chinaelife.ebusiness.sys.util.queue.QueuesHolder">
		<property name="queueSize" value="1000" />
	</bean>
	<!-- 读出Queue中消息发送到monitor -->
	<bean id="notificationDealer"
		class="cn.com.chinalife.ebusiness.sys.notification.NotificationDealer">
		<property name="queueName" value="notification" />
		<property name="appName" value="online" />
		<property name="url">
			<value>http://10.0.68.123:9001/monitor/monitor/notification.do?
			</value>
		</property>
		<property name="param_tel" value="sms.receiver" />
		<property name="param_email" value="email.receiver" />
		<property name="param_title" value="title" />
		<property name="param_content" value="content" />
	</bean>


	<!-- NotificationQueueAppender 的单例 -->
	<bean id="notificationQueueAppender" scope="singleton"
		class="cn.com.chinalife.ebusiness.sys.notification.NotificationQueueAppender">
		<property name="queueName" value="notification" />
	</bean>
	<bean id="notificationService"
		class="cn.com.chinalife.ebusiness.sys.notification.service.spring.NotificationServiceSpringImpl">
	</bean>

</beans>