<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/ng-context-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName" default-lazy-init="true">
	
	<bean id="claimReportService" class="ins.claim.report.service.spring.ClaimReportServiceSpringImpl"/>
	<bean id="llInqService" class="ins.claim.report.service.spring.LLInqServiceSpringImpl"/>
	<bean id="llSubmitService" class="ins.claim.report.service.spring.LLSubmitServiceSpringImpl"/>
	<bean id="llHospitalService" class="ins.claim.report.service.spring.LLHospitalServiceSpringImpl"/>
	<bean id="lcInsuredService" class="ins.claim.report.service.spring.LCInsuredServiceSpringImpl"/>
	<!-- <bean id="noImageInputService" class="ins.prpall.report.service.spring.NoImageInputServiceSpringImpl"/> -->
	<!-- <bean id="lcGrpPolReportService" class="ins.prpall.report.service.spring.LCGrpPolReportServiceSpringImpl" /> -->
	<!-- <bean id="pdLmDutyService" class="ins.prpall.report.service.spring.PDLMDutyServiceSpringImpl" /> -->
	<!-- <bean id="lcContPlanReportService" class="ins.prpall.report.service.spring.LCContPlanReportServiceSpringImpl" /> -->
	<!-- <bean id="lcContPlanRiskReportService" class="ins.prpall.report.service.spring.LCContPlanRiskReportServiceSpringImpl"/> -->
	<!-- <bean id="lcInsuredReportService" class="ins.prpall.report.service.spring.LCInsuredReportServiceSpringImpl" /> -->
	<!-- <bean id="artificalUWService" class="ins.prpall.report.service.spring.ArtificalUWServiceSpringImpl"/> -->
	<!-- <bean id="proposalPreService" class="ins.prpall.report.service.spring.ProposalPreServiceSpringImpl"/> -->

</beans>