.window {
	width: 450px;
	
	border: solid #658a16 1px;
	margin-left: 15px;
	float: left;
	background-color: white;
	}
.window .title {
	background-color: #658a16;
	color:white;
	margin: 2px;
	padding-top: 2px;
	padding-left: 2px;
	height: 26px;
}
.window .content {
	height: 100%
	padding-top: 2px;
	padding: 2px 2px 0px 2px;
}