<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 要调用的工作类 -->
    <!--oracle监控的定时任务-->
    <!--<bean id="oracleMonitorTask" class="com.sinosoft.one.monitor.db.oracle.domain.OracleMonitorTask"></bean>-->
</beans>